<!DOCTYPE HTML>

<html>

<head>
  <title>Ventil Solutions Pvt. Ltd.</title>
  <link rel="stylesheet" href="main.css"">
</head>

<body>

      <div id="contact-form" align="center">
          <div align="center">
             <table>
                <tr>
               <td width="50%" align="top">
                  <img src="images/ventil_logo.png"  width="150" height="100">
               </td>
               <td  width="50%">
                    <h2>Administration</h2>
               </td>
             </tr>
             </table>
          </div>
  <div align="center">
    <h4>_________________________________________________</h4>


  </div>

       <form >

       <table>

            <tr>
               <td>
                    <label>
                        <span class="required">Select Option to Edit Values *</span>
                    </label>
               </td>
               <td>
                       <select id="options" name="subject" tabindex="1">
                       <option value="select">--Select--</option>
               <option value="rd">RD Size</option>
               <option value="material">Material</option>
               <option value="burstPressure ">Burst Pressure</option>
               <option value="materialThk">Material Thickness</option>
               <option value="topRing">Top Ring</option>
               <option value="topRingThk">Top Ring Thickness</option>
            </select>
               </td>
           </tr>

    </table>
    <p></p>
      <div>
       <p></p>      
          <button type="submit">Edit</button>
          <a href="/workorders"><button>Back</button></a>
      </div>
       </form>

  </div>
</body>

</html>