<!DOCTYPE HTML>

<html>

<head>
  <title>Ventil Solutions Pvt. Ltd.</title>
  <link rel="stylesheet" href="main.css"">
</head>

<body>

      <div id="contact-form" align="center">
          <div align="center">
             <table>
                <tr>
               <td width="30%" align="top">
                  <img src="images/ventil_logo.png"  width="150" height="100">
               </td>
               <td  width="70%">
                    <h2>Work Orders</h2>
               </td>
             </tr>
             </table>
          </div>
  <div align="center">
    <h4>_________________________________________________</h4>
         <p></p>

  </div>
           <p></p> 

      <div>
            <p></p>
          <a href="/workorders/create"> <button>Create Work Order</button></a>
           <p></p>
      </div>
      <div>
           <p></p>
          <a href="/workorders/search"><button>Search Work Order</button></a>
            <p></p>
      </div>
      <div>
      <p></p>
          <a href="/workorders/admin"><button width="100%">Administration</button></a>
          <p></p>
      </div>


  </div>
</body>

</html>