<!DOCTYPE HTML>

<html>

<head>
  <title>Ventil Solutions Pvt. Ltd.</title>
  <link rel="stylesheet" href="main.css"">
</head>

<body>

      <div id="contact-form" align="center">
          <div align="center">
             <table>
                <tr>
               <td width="30%" align="top">
                  <img src="images/ventil_logo.png"  width="150" height="100">
               </td>
               <td  width="70%">
                    <h2>Search Work Order</h2>
               </td>
             </tr>
             </table>
          </div>
  <div align="center">
    <h4>_________________________________________________</h4>


  </div>

      <form method="POST"  th:object="${searchWorkOrderDetailDto}">

       <table>
           <tr>
               <td width="40%" align="top">
                <label>
                    <span class="required">Work Order Id *</span>
                </label>
               </td>
               <td  width="60%">
                    <input th:field="${searchWorkOrderDetailDto.workOrderId}" placeholder="Enter Work Order"  tabindex="1" autofocus="autofocus">
                   <p th:if="${#fields.hasErrors('workOrderId')}" th:errorclass="text-danger"th:errors="${searchWorkOrderDetailDto.workOrderId}"></p>
               </td>
           </tr>


            </table>

                  <div>
          <button type="submit">Search</button>
          <a href="/workorders"><button>Back</button></a>
      </div>
            <div class="text-center mb-3" th:if="${resultMessage != null}">
		<p
		th:style="${status == 'success' ? 'color: green;' : 'color: red;'}"

		th:text="${resultMessage}" ></p>
		<br>


     </div>

     <div  th:if="${status == 'success'}">
      <h3 style="text-align:center;">Work Order Details</h3>
      </div>
    <div id='searchresults' >
             <table th:if="${status == 'success' }" border='1'>
             <tr>
               <td>
                    <label>
                        <span class="required">Work Order Id</span>
                    </label>
               </td>
               <td th:text="${orderDetail.workOrderId}"></td>
           </tr>
           <tr>
               <td>
                    <label>
                        <span class="required">RD Size</span>
                    </label>
               </td>
              <td th:text="${orderDetail.rd}"></td>
           </tr>
           <tr>
               <td>
                    <label>
                        <span class="required">Material</span>
                    </label>
               </td>
               <td th:text="${orderDetail.material}"></td>
           </tr>
            <tr>
               <td>
                    <label>
                        <span class="required">Burst Pressure</span>
                    </label>
               </td>
                <td th:text="${orderDetail.burstPressure}"></td>
           </tr>
            <tr>
               <td>
                    <label>
                        <span class="required">Min Pressure Range</span>
                    </label>
               </td>
               <td th:text="${orderDetail.pressureRange}"></td>
           </tr>

            <tr>
               <td>
                    <label>
                        <span class="required">Max Pressure Range</span>
                    </label>
               </td>
               <td th:text="${orderDetail.pressureRangeMax}"></td>
           </tr>
                       <tr>
               <td>
                    <label>
                        <span class="required">Material Thickness</span>
                    </label>
               </td>
               <td th:text="${orderDetail.materialThickness}"></td>
           </tr>
            <tr>
               <td>
                    <label>
                        <span class="required">Material MTC No.</span>
                    </label>
               </td>
               <td th:text="${orderDetail.materialMTC}"></td>
           </tr>
                       <tr>
               <td>
                    <label>
                        <span class="required">Bulge Load</span>
                    </label>
               </td>
               <td th:text="${orderDetail.bulgeLoad}"></td>
           </tr>
                       <tr>
               <td>
                    <label>
                        <span class="required">Bulge Pressure</span>
                    </label>
               </td>
               <td th:text="${orderDetail.bulgePressure}"></td>
           </tr>


                       <tr>
               <td>
                    <label>
                        <span class="required">Top Ring</span>
                    </label>
               </td>
               <td th:text="${orderDetail.topRing}"></td>
           </tr>
           <tr>
               <td>
                    <label>
                        <span class="required">Top Ring Thickness</span>
                    </label>
               </td>
               <td th:text="${orderDetail.topRingThk}"></td>
           </tr>
            <tr>
               <td>
                    <label>
                        <span class="required">Operation</span>
                    </label>
               </td>
               <td th:text="${orderDetail.operation}"></td>
           </tr>
            <tr>
               <td>
                    <label>
                        <span class="required">Mill Depth</span>
                    </label>
               </td>
               <td th:text="${orderDetail.millDepth}"></td>
           </tr>
             <tr>
               <td>
                    <label>
                        <span class="required">Laser Ablition</span>
                    </label>
               </td>
              <td th:text="${orderDetail.laserAblition}"></td>
           </tr>
    </table>
    </div>

     <div class="offset-sm-5 col-sm-2 d-grid" th:if="${status == 'success'}">
      <div>
                    <button onclick="printDiv()">Print</button>
      </div>
      </div>

       </form>

  </div>
</body>
    <script>
        function printDiv() {
            var divContents = document.getElementById("searchresults").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write('<html>');
            a.document.write('<body > <h1>Word Order Details <br>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>
</html>